# Pandas puzzles

Most the following exercises have been selected by UZH ZI & David Pinezich as part of the ZI APPD course. Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here is a short list of puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power. 

Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating), making use of the core DataFrame and Series objects. 

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy). Choosing the right methods and following best practices is the underlying goal.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Enjoy!

## Importing pandas

### Getting started and checking your pandas setup

**1.** Import pandas under the name `pd`.

In [2]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [3]:
pd.__version__

'2.3.3'

**3.** Print out all the version information of the libraries that are required by the pandas library.
(**hint**: show_versions()

In [4]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 9c8bc3e55188c8aff37207a74f1dd144980b8874
python                : 3.13.2
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : ARM64
processor             : ARMv8 (64-bit) Family 8 Model 1 Revision 201, Qualcomm Technologies Inc
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United Kingdom.1252

pandas                : 2.3.3
numpy                 : 2.3.3
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : None
Cython                : None
sphinx                : None
IPython               : 9.6.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : None
lxml.etree            : None
matplotlib            : None
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : 8.4.2
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [5]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df_animals = pd.DataFrame(data=data, index=labels)

df_animals

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**5.** Display a summary of the basic information about this DataFrame and its data.
(**hint**: df.describe)

In [11]:
df_animals.describe()
df_animals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**6.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [12]:
df_animal_age = df_animals[["age","animal"]].copy()
df_animal_age.head()

   age animal
a  2.5    cat
b  3.0    cat
c  0.5  snake
d  NaN    dog
e  5.0    dog

**7.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.
(**hint**: df.index)

In [ ]:
df_animals.iloc[[3,4,8]][["animal","age"]] 

#or with .loc[df.index[[3,4,8]], ["animal","age"]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**8.** Select only the rows where the number of visits is greater than 2.

In [13]:
df_animals[df_animals["visits"]>2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

**9.** Select the rows where the age is missing, i.e. is `NaN`.
(**hint**: Series.isnull)

In [14]:
df_animals[df_animals["age"].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**10.** Select the rows where the animal is a cat *and* the age is less than 3.

In [16]:
df_animals[(df_animals["animal"] == "cat") & (df_animals["age"]<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**11.** Select the rows the age is between 2 and 4 (inclusive).

In [17]:
df_animals[(df_animals["age"] >= 2) & (df_animals["age"] <= 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**12.** Calculate the sum of all visits (the total number of visits).

In [18]:
df_animals["visits"].sum()

np.int64(19)

**13.** Calculate the mean age for each different animal in `df`.

In [19]:
df_animals["age"].mean()

np.float64(3.4375)

**14.** Append a new column 'newcol' to `df` with your choice of values for each column. Then delete that column to return the original DataFrame.

In [27]:
df_animals["newcol"] = df_animals["visits"] / df_animals["age"]
print(df_animals)
df_animals.drop(columns=["newcol"], axis=1, inplace=True)
#inplace will tell it to the dataframe, if we dont do this the changes wont be done on data
df_animals

  animal  age  visits priority    newcol
a    cat  2.5       1      yes  0.400000
b    cat  3.0       3      yes  1.000000
c  snake  0.5       2       no  4.000000
d    dog  NaN       3      yes       NaN
e    dog  5.0       2       no  0.400000
f    cat  2.0       3       no  1.500000
g  snake  4.5       1       no  0.222222
h    cat  NaN       1      yes       NaN
i    dog  7.0       2       no  0.285714
j    dog  3.0       1       no  0.333333

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**15.** Append a new row to `df` for a 5 y.o. parrot on his second visit with no priority. Then delete that row again to return to the original DataFrame.

In [ ]:
data2add = pd.DataFrame({"animal": ["parrot"], "age":[5], "visits": [2], "priority": ["no"]}, index=["k"])
data2add
df_animals_2 = pd.concat([df_animals,data2add], axis=0, ignore_index=False)
#axis meaans which direction, and if index true would just assign numerical values
df_animals_2

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c   snake  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  2.0       3       no
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  parrot  5.0       2       no

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [34]:
df_animals.loc[(df_animals["priority"] == "yes"), ["priority"]] = True
df_animals.loc[(df_animals["priority"] == "no"), ["priority"]] = False
df_animals

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

In [40]:
df_animals.loc[(df_animals["animal"] == "snake"), ["animal"]] = "python"
df_animals

   animal  age  visits priority
a     cat  2.5       1     True
b     cat  3.0       3     True
c  python  0.5       2    False
d     dog  NaN       3     True
e     dog  5.0       2    False
f     cat  2.0       3    False
g  python  4.5       1    False
h     cat  NaN       1     True
i     dog  7.0       2    False
j     dog  3.0       1    False