## EDA: iris dataset - part 1: Basic exploration

### Preparations

Import libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1) Load iris dataset as iris:

In [4]:
# Load the iris dataset
iris = pd.read_csv(r"C:\Users\Startklar\Desktop\DSA103_Repo\DSA103\python-chemistry-intro\src\dsa103\lecture 7\DSA_iris_dataset.csv")
iris.head()

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target,species
0,5.1,3.5,1.4,0.2,NaN,setosa
1,4.9,3.0,1.4,0.2,NaN,setosa
2,4.7,3.2,1.3,0.2,NaN,setosa
3,4.6,3.1,1.5,0.2,NaN,setosa
4,5.0,3.6,1.4,0.2,NaN,setosa

2) Overview: head, size, shape, info...

In [5]:
iris.head(10)

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target,species
0,5.1,3.5,1.4,0.2,NaN,setosa
1,4.9,3.0,1.4,0.2,NaN,setosa
2,4.7,3.2,1.3,0.2,NaN,setosa
3,4.6,3.1,1.5,0.2,NaN,setosa
4,5.0,3.6,1.4,0.2,NaN,setosa
5,5.4,3.9,1.7,0.4,NaN,setosa
6,4.6,3.4,1.4,0.3,NaN,setosa
7,5.0,3.4,1.5,0.2,NaN,setosa
8,4.4,2.9,1.4,0.2,NaN,setosa
9,4.9,3.1,1.5,0.1,NaN,setosa

3) Quick statistics and summary (value_counts, max, min, describe, nlargest, nsmallest, nunique):

In [6]:
iris["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [11]:
iris.min()

sepal length (cm)       4.3
sepal width (cm)        2.0
petal l. / cm           1.0
petal w. / cm           0.1
target                  NaN
species              setosa
dtype: object

In [7]:
iris.nsmallest(3, "sepal width (cm)")

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target,species
60,5.0,2.0,3.5,1.0,NaN,versicolor
62,6.0,2.2,4.0,1.0,NaN,versicolor
68,6.2,2.2,4.5,1.5,NaN,versicolor

In [12]:
iris.nlargest()

TypeError: DataFrame.nlargest() missing 2 required positional arguments: 'n' and 'columns'

In [10]:
iris.size

900

4) Missing data (isnull) and duplicates (duplicated)

In [15]:
iris.isnull().any()

sepal length (cm)    False
sepal width (cm)     False
petal l. / cm        False
petal w. / cm        False
target                True
species              False
dtype: bool

In [17]:
iris.duplicated().any()

np.True_

In [18]:
iris[iris.duplicated() == True]

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target,species
142,5.8,2.7,5.1,1.9,NaN,virginica

5) Drop unnecessary columns and rename columns

In [19]:
iris.drop(columns=["target"], axis=1, inplace=True)

In [20]:
iris

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [23]:
iris.rename(columns={"petal l. / cm":"petal length (cm)", "petal w. / cm":"petal width (cm)"}, inplace=True)

In [24]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [26]:
iris.iloc[33,1] = 4.2

In [27]:
iris["sepal width (cm)"].nlargest(3)

15    4.4
33    4.2
32    4.1
Name: sepal width (cm), dtype: float64

6) Export cleaned dataset as "DSA_iris_cleaned.csv" into the same folder

In [28]:
iris.to_csv("DSA_iris_cleaned.csv", index=False) #index false important